.table-header {
    background-color: #eee;
}
.add-team-button{
    color: #FF9900;
    margin-bottom: 40px;

}
.add-team-button label {
    font-size: 12px;
    position: relative;
    top: 20px;
    right: 47px;
}
.delete-button {
    color: #CF2A27;
}
.delete-label {
    font-size: 8px;
    font-weight: bolder;
    position: relative;
    top: 9px;
    right: 18px;
}
.edit-button {
    color: #009E10;
}
.edit-label {
    font-size: 8px;
    font-weight: bolder;
    position: relative;
    top: 9px;
    right: 14px;
}
.button-space {
    margin-right: 15px;
}
.smaller-font {
    font-size: smaller;
}
.export-button{
    color: #CF2A27;
    margin-bottom: 40px;

}
.export-button label {
    font-size: 12px;
    position: relative;
    top: 20px;
    right: 60px;
}
.import-button{
    color: #FF9900;
    margin-bottom: 40px;

}
.import-button label {
    font-size: 12px;
    position: relative;
    top: 20px;
    right: 65px;
}
