@import "https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/paper/bootstrap.min.css";
@import "https://use.fontawesome.com/357fe49e00.js";
html {
    height: 100%;
}
body {
    overflow-x: hidden;
    height: 100%;
}
.clear-margin-bottom {
    margin-bottom: 0;
}
.blue-font {
    color: #2196F3;
}